.myBookingsContainer {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
  }
  
  .myBookingsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .myBookingCard {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .myBookingCard h3 {
    margin-bottom: 10px;
    color: #0071c2;
  }
  
  .myBookingCard p {
    margin: 5px 0;
  }
  